.DropDown__Title {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
}

.DropDown__Title:focus {
  border: none;
  outline: none;
}

.DropDown__Title:hover {
  text-decoration: underline;
}

.DropDown__Menu {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  width: auto;
  background: #333333;
  background: linear-gradient(180deg, #444444 0%, #111111 100%);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  border: 1px solid #9a9a9a;
  border-radius: 4px;
  z-index: 1;
}

.DropDown__ArrowBtn {
  display: inline-block;
  color: #00D7FE;
  margin: 0;
  padding: 0;
}

.DropDown__ArrowBtnImg {
  width: 24px;
  height: 24px;
  margin: 0 10px -5px 5px;
}

.DropDown__MenuItem {
  display: block;
  font-family: 'Arial';
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: none;
  width: calc(100% - 20px);
  text-align: left;
  padding: 0;
  margin: 15px 10px;
}

.DropDown__MenuItem:hover {
  color: #00D7FE;
}

.Component-show {
  display: block;
}
