body {
  min-height: 100%;
  display: table;
  width: 100%;
}

.App__Header {
  width: 100%;
  height: 60px;
  border-top: 4px solid rgb(0, 215, 254);
  background-color: rgba(51, 51, 51, 0.96);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.75);
  position: fixed;
  padding: 0;
}

.App__Content {
  display: block;
  width: 100%;
  height: 100%;
}

.App__Content__Container {
  display: block;
  width: 100%;
}

.Component-show {
  display: block;
}

.App__Footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: 60px;
  border-top: 4px solid rgb(0, 215, 254);
  background-color: rgba(51, 51, 51, 0.96);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  padding: 0;
  margin: 15px 0 0 0;
}
