.UserProfile__Details__Input {
    font-family: Arial;
    font-size: 16px;
    width: 100%;
}

.DateChooser {
    display: inline-block;
}

.DateChooser__SelectBox {
    font-family: Arial;
    font-size: 15px;
}

.DateChooser__SelectBox-inactive {
    color: rgb(189,189,189);
}
