.Search {
  display: inline-block;
  float: right;
  margin: 20px 0 0 0;
}

.Search__Text {
  background-color: transparent;
  border: 1px solid #888888;
  padding: 5px;
  color: white;
  width: 125px;
}

.Search__ImgBtn {
  width: 32px;
  height: 32px;
  margin: 0 0 -11px 3px;
  cursor: pointer;
}

.Search__ImgBtn:hover {
  background: rgba(0, 215, 254, 0.35);
  outline: 1px solid rgba(0, 215, 254, 0.8);
}

.Search__Text::-webkit-input-placeholder {
  color: #009DBF;
}
.Search__Text::-moz-placeholder {
  color: #009DBF;
}
.Search__Text:-ms-input-placeholder {
  color: #009DBF;
}
