body {
  background-color: rgb(255, 255, 255);
}

header {
  width: 100%;
  height: 60px;
  border-top: 4px solid rgb(0, 215, 254);
  background-color: rgba(51, 51, 51, 0.96);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.75);
  position: fixed;
  padding: 0;
}

/* header navigation panel */

.white-space-top {
  width: 100%;
  height: 60px;
}

.content {
  width: 100%;
}

/* Blog post style */

.posts-board {
  display: block;
  padding: 10px 0 0 0;
  outline: 1px dotted green;
}

/* Utils */

.Component-show {
  display: block;
}
