.CreateArticle {
  display: block;
  width: calc(100% - 40px);
  max-width: calc(100% - 40px);
  height: 100%;
  margin: 20px;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.CreateArticle__TabButtons {
  display: flex;
  flex-direction: row;
  background-color: rgb(59,59,59);
  border-radius: 10px 10px 0 0;
}

.CreateArticle__TabButton__Btn {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  margin: 0;
  width: 100px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid rgb(150,150,150);
  color: rgb(130,130,130);
  font-family: Arial;
  font-size: 15px;
}

.CreateArticle__TabButton__Btn:hover {
  color: rgb(0, 215, 254);
  border-bottom: 3px solid rgb(0, 215, 254);
}

.CreateArticle__TabButton__Btn-active {
  color: rgb(0, 215, 254);
  border-bottom: 3px solid rgb(0, 215, 254);
}

.CreateArticle__Head {
  display: block;
}

.CreateArticle__Body {
  display: block;
}

.CreateArticle__LineItem {
  display: block;
  margin: 15px;
}

.CreateArticle__LineItem__Buttons {
  display: flex;
  margin: 15px;
  flex-direction: row;
  justify-content: flex-end;
}

.CreateArticle__Label,
.CreateArticle__Text,
.CreateArticle__ArticleGroup {
  display: block;
  font-family: Arial;
  font-size: 15px;
}

.CreateArticle__Label {
  font-weight: bold;
}

.CreateArticle__Text {
  height: 17px;
  width: calc(100% - 4px);
}

.CreateArticle__ArticleGroup {
  height: 22px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.CreateArticle__ArticleBody {
  display: block;
  width: calc(100% - 4px);
  height: 200px;
  resize: vertical;
}

.CreateArticle__Button {
  width: 100px;
  height: 25px;
}

.CreateArticle__Create {
  display: block;
}

.CreateArticle__Preview {
  display: none;
}

.CreateArticle__Preview__Article {
  display: block;
  margin: 15px;
}