.Login {
  display: flex;
  float: right;
  margin: 30px 15px 0 0;
  padding: 0;
  color: #00D7FE;
}

.Login__Avatar {
  margin: -5px 0 0 0;
  width: 32px;
  height: 32px;
}

.Login__Title {
  margin: 3px 15px 0 0;
  padding: 0;
}

.header-panel-login-menu {
  display: none;
  position: absolute;
  margin: 25px 0 0 -30px;
  min-width: 140px;
  background-color: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 0 10px;
  z-index: 1;
}

.Login:hover .header-panel-login-menu{
  display: block;
}