.SiteLogo {
  margin: 7px 0 0 18px;
  display: inline-block;
  font-family: Arial;
  font-weight: bold;
  font-size: 30px;
  color: rgb(0, 215, 254);
}

.SiteLogo__Title {
  text-decoration: none;
  color: rgb(0, 215, 254);
}
