.post-item {
  display: inline-block;
  margin: 20px;
  padding: 0;
  width: calc(100% - 40px);
  outline: 1px solid #eaeaea;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

.post-item-info-short,
.post-item-info-long {
  display: block;
  margin: 0;
  padding: 5px 0;
  outline: 1px solid #eaeaea;
  background-color: #f4f4f4;
}
