.PostItemAuthor {
  display: inline-block;
  font-family: Arial;
  font-size: 14px;
  color: gray;
  margin: 0 0 0 20px;
}

.PostItemAuthor__Img {
  width: 16px;
  height: 16px;
  margin: 0 3px -3px 0;
}
