span {
  margin: 0;
  padding: 0;
}

.UserProfile {
  margin: 10px 0 0 10px;
  padding: 0;
  display: flex;
  width: 100%;
}

.UserProfile__Photo {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.UserProfile__Photo__Img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px solid rgb(128,128,128);
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
  cursor: pointer;
}

.UserProfile__Photo__Buttons {
  margin: 10px 0 0 0;
  text-align: center;
}

.UserProfile__Photo__Button {
  width: 60px;
  height: 25px;
}

.UserProfile__Details {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: auto;
}

.UserProfile__Details__Tag {
  font-style: italic;
  color: #78909C;
}

.UserProfile__Details__Name,
.UserProfile__Details__Surname,
.UserProfile__Details__Birthdate,
.UserProfile__Details__RegDate,
.UserProfile__Details__Nickname,
.UserProfile__Details__Email,
.UserProfile__Details__Rating,
.UserProfile__Details__Publications {
  margin: 20px 10px 20px 20px;
  padding: 0;
  display: block;
  font-family: arial;
  font-size: 16px;
}

.PhotoPreview {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.PhotoPreview--show {
  display: block;
}

.PhotoPreview__Img {
  position: absolute;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px solid rgb(128,128,128);
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
  z-index: 9999;
}
